*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    
}
nav img{
    height: 40px;
    cursor: pointer;
}
nav{
    height: 5vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: 	rgb(2, 90, 223);
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 50px;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
nav a:hover{
    color: rgba(255, 255, 255, 0.651);
}
nav input{
    height: 2.5vmax;
    width: 20vmax;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.345);
    border: none;
    border-radius: 20px;
    padding: 0 0 0 45px;
    font-weight: 600;
    font-size: 16px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20px;
}
.search-dorp{
    width: 100vmax;
    height: 5vmax;
    background-color: ;
    position: absolute;
    bottom: 140%;
    right: -40%;
    background-color: 	rgb(2, 90, 223);
    transition: 0.25s;
    
    
}
.search-dorp input{
    padding: 0 0 0 35px;
    width: 32vmax;
    margin-left: 36%;
    margin-top: 1%;
    
}
.search:hover .search-dorp{
    display: initial;
    transform: translate(0,70px);
}
.search-dorp i{
    font-size: 25px;
    top: 29%;
    position: absolute;
    left: 36.5%;
}
.search input:hover{
    background-color: black;
}
#lensh{
    position: absolute;
    color: white;
    right: 91%;
    font-size: 22px;
}
nav ::placeholder{
    color: white;
}
nav i{
    color: white;
    cursor: pointer;
    font-size: 38px;
}
.made-in-india{
    width: 100%;
    height: 30vmax;
    background: url(https://www.jio.com/true-5g.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: .1px solid black;
}
.img-h1{
    /* background-color: red; */
    width: 40vmax;
    display: flex;
    flex-direction: column;
    margin-left: 11%;
    margin-top: 3%;
}
.img-h1 h1{
    font-size: 60px;
    color: white;
    font-weight: 800;
}

.made-in-india img{
    margin-left: -78%;
    height: 45px;
}
.made-in-india-explore{
    margin-top: 7%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.made-in-india-explore a{
    text-decoration: none;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background-color: 	rgb(2, 90, 223);
    font-weight: 600;
}
.made-in-india-explore a:hover{
    background-color: 	rgba(51, 127, 243, 0.589);
}
.made-in-india-explore > button{    
        display: flex;
        align-items: center;
        font-size: 16px;
        padding: 12px 20px;
        border: 0.1px solid rgba(255, 255, 255, 0.395);
        border-radius: 30px;
        background-color: transparent;
        color: white;
        font-weight: 600;
        gap: 8px;
    }
    .made-in-india-explore > button:hover{
        border: .1px solid white;
    }
.made-in-india-explore i{
    color: black;
   font-size: 20px;
}

.sarvish {
    height: 15vmax;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sarvish > .img-1{
    height: 8vmax;
    width: 40vmax;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.sarvish ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    transition: .30s;
}
.sarvish ul li:hover{
    padding: 20px 18px 8px 18px;
    border-radius: 15px;
    background-color: #d7dff7;
}
.sarvish ul img{
    height: 60px;
    padding: 15px;
    background-color: #d7dff7;
    border-radius: 50px;
}
#bil{
    padding: 15px 20px 15px 20px;
}

.true-5g{
    height: 50vmax;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.true-5g h1{
    font-size: 60px;
    font-weight: 800;
    margin-top: -7%;
}
.true-5g h5{
    margin-top: 1%;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.47);
}
.comen-welcome-offer{
    width: 75vmax;
    height: 28vmax;
    background-color: #d9008d;
    margin-top: 2%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.welcome-offer-left{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    justify-content: center;
}
.welcome-offer-left img{
    margin-left: -47%;
    height: 45px;
}
.welcome-offer-left h2{
    width: 28vmax;
    font-size: 40px;
    margin-top: 3%;
    color: white;
    font-weight: 800;
    margin-left: 12%;
}
.welcome-offer-left h4{
    font-size: 18px;
    margin-left: 12%;
    margin-top: 4%;
    color: rgba(255, 255, 255, 0.89);
}
.welcome-offer-left a{
    text-decoration: none;
    color: #62003f;
    padding: 17px 15px;
    border: none;
    border-radius: 30px;
    background-color: 	#ff99db;
    font-weight: 600;
    width: 9vmax;
    margin-top: 8%;
    margin-left: 12%;
}
.welcome-offer-left a:hover{
    background-color: white;
}
.welcome-offer-right{
    background: url(https://jep-asset.akamaized.net/jiostaticresources/v05/images/dots-map2.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin-left: 9.5%;
    height: 28vmax;
    width: 40vmax;
}

.welcome-offer-right ul{
    display: flex;
    list-style-type: none;
}
.welcome-offer-right li{
    width: 6vmax;
    color: #d9008d;
    border-radius: 15px;
    font-weight: 500;
    margin-left: 3%;
    margin-top: 1%;
    font-size: 20px;
}
.left-pad{
 padding: 12px 25% 12px 18%;
}
.right-pad{
    padding: 12px 25% 12px 18%;
}
.black-pad{
    background-color: #fbe5f4;
}
.jio-next{
    height: 37vmax;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    justify-content: center;
    gap: 10px;
}
.jio-next img{
    border-radius: 20px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 77% 81%, 26% 81%, 0 100%, 0 0);
}
.jio-next-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -5%;
    
}
.jiosaavn img,.netmeds img{
    height: 290px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 77% 81%, 26% 81%, 0 100%, 0 0);
}
.jio-next-main div{
    width: 25vmax;
    margin-top: -40%;
    background-color: red;
    height: 23vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.jio-next-main h2{
    color: rgba(0, 0, 0, 0.751);
    margin-left: 2%;
    margin-top: 30%;
    font-size: 30px;
    font-weight: 800;
}
.jio-next-main > div a{
    text-decoration: none;
    margin-top: 10%;
    font-size: 12px;
    margin-left: -60%;
    padding: 10px 10px;
    border-radius: 20px;
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.425);
    color: white;
}
.jiosaavn div a , .netmeds div a{
    margin-right: -15%; 
}
.ajio div{
    background-color: rgb(0, 120, 173);
}
.ajio div h2{
    color: white;
}
.ajio div a{
    background-color: rgba(255, 255, 255, 0.717);
    color: rgba(0, 0, 0, 0.815);
}
.jiosaavn div{
    background-color: rgb(30, 204, 176);
}
.netmeds div{
    background-color: rgb(0, 178, 89);
}
.digital-life{
    margin-top: -5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.digital-life-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.digital-life-top h1{
    font-size: 55px;
    font-weight: 900;
}
.digital-life-top h4{
    font-size: 23px;
    color: rgba(0, 0, 0, 0.557);
    margin-top: 2%;
    line-height: 30px;
    margin-left: 9%;
}
.digital-life-bottom{
    margin-top: 3%;
    display: flex;
    align-items: center;
}
.digital-life-top span{
    margin-left: 35%;
}
.digital-life-bottom-left{
    display: flex;
    width: 35.3vmax;
    height: 35.8vmax;
    justify-content: center;
    flex-direction: column;
    margin-bottom: .3%;
    background-color: #00b259;
}
.digital-life-bottom-left h3{
    width: 26%;
    padding: 4px 6px;
    border-radius: 30px;
    display: flex;
    margin-left: 15%;
    align-items: center;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.295);
}
.digital-life-bottom-left h2{
    font-size: 35px;
    color: rgba(0, 0, 0, 0.76);
    line-height: 40px;
    font-weight: 800;
    margin-top: 3%;
    margin-left: 15%;
}
.digital-life-bottom-left a{
    width: 22%;
    text-decoration: none;
    margin-top: 8%;
    font-size: 15px;
    padding: 15px 1px 15px 15px;
    border-radius: 40px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.728);
    color: white;
    margin-left: 15%;
    cursor: pointer;
}
.digital-life-bottom-left a:hover{
    background-color: rgba(0, 0, 0, 0.776);
}
.digital-life-bottom-left img{
    height: 25px;
}
.digital-life-bottom-right video{
    height: 550px;
}
.jio-servi{
    display: flex;
}
.jio-servi-main{
    width: 40vmax;
    height: 15vmax;
    /* border: 1px solid black; */
    display: flex;
    margin-top: 1%;
    margin-left: 1%;
    padding: 10px 25px 0 10px;
    border-radius: 15px;
}
.jio-servi-main h3{
    font-weight: 900;
    font-size: 20px;
    margin-top: 3%;
}
.jio-servi-main h5{
    width: 13vmax;
    font-size: 13px;
    margin-top: 3%;
}
.jio-servi-main div{
    position: relative;
}
#link{
    position: absolute;
    top: 65%;
    text-decoration: none;
    margin-top: 10%;
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.817);
    color: rgba(0, 0, 0, 0.737);
    
}
.jio-servi img{
    height: 70px;
    margin-left: 2%;
    margin-top: 3%;
}

.jio-mart{
    background-color: #0078AD;
    color: white;
}
.jio-meet{
    background-color: #FA7D19;
}
.jio-news{
    background-color: #0F3CC9;
}
.jio-game{
    background-color: #00B259;
}
.jio-cloud{
    background-color: #0F3CC9;
}
.jio-cinema{
    background-color: #D9008D;
}
.jio-savaan{
    background-color: #1ECCB0;
}
.jio-tv{
    background-color: #0F3CC9;
}
.discover{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    align-items: center;
    justify-content: center;
}
.discover h1{
    font-size: 60px;
    font-weight: 900;
    /* width: 40vmax; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.discover h5{
    font-size: 18px;
    width: 54vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    color: rgba(0, 0, 0, 0.646);
}
.fiber{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 75vmax;
    margin-left: 13%;
    margin-top: 5%;
}
.fiber img{
    height: 100px;
}
.fiber h2{
    font-size: 35px;
    margin-top: 5%;
    font-weight: 900;
}
.all-fiber{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fiber p{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, 0.646);
    font-weight: 600;
    margin-top: 5%;
}
.fiber button{
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    margin-top: 5%;
    color: white;
    background-color: #0F3CC9;

    font-size: 15px;
    font-weight: 600;
}
.all-gole{
    height: 20vmax;
    width: 100%;
    background: url(/gol-all.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 5%;
}












@media (min-width:1500px){
    .ri-menu-line{
        display: none;
    }
    .img-2{
        display: none;

    }
    .media-450-1{
        display: none;
    }
    .welcome-offer-2{
        display: none;
    }
    .digital-life-bottom-left-main-2{
        display: none;
    }
    .digital-life-bottom-right-main-2{
        display: none;
    }
}
@media (max-width:450px){
    nav{
        height: 10vmax;
        width: 71.8vh;
    }
    nav > ul{
        display: none;
    }
    .ri-menu-line{
        font-size: 22px;
        margin-left: 8%;
    }
    nav > img{
        height: 33px;
        margin-left: -10%;
    }
    .search > input{
        width: 40vmax;
        height: 6.2vmax;
        margin-left: -10%;
    }
    .search > i{
        margin-right: 5%;
    }
    .search > .search-dorp{
        height: 10vmax;
        width: 78vmax;
        margin-right: 44%;
        margin-bottom: 1%;
    }
    .search > .search-dorp > input{
        margin-left: 10.5%;
        margin-top: 3.5%;
        width: 68vmax;
        height: 6vmax;
    }
    .ri-arrow-left-s-line{
        margin-left: -25%;
        margin-top: 1.4%;
    }
    .made-in-india{
        height: 65vmax;
    }
    .img-h1{
        height: 50vmax;
        width: 60vmax;
        margin-top: 25%;
        margin-left: 5%;
    }
    .made-in-india > .img-h1  > img{
        margin-right: -11%;
    }
    .img-h1 > h1{
        margin-top: 2%;
        font-size: 40px;
        line-height: 40px;
    }
    .img-h1 > .made-in-india-explore{
        margin-top: 15%;
    }
    .sarvish{
        height: 50vmax;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sarvish > .img-1{
       display: none;
    }
    .sarvish > .img-2{
        width: 50vmax;
        justify-content: space-between;
        display: flex;
    }
    .true-5g{
        margin-top: 70%;
    }
    .true-5g h1{
        font-size: 35px;
        margin-left: 5%;
        font-weight: 900;
        line-height: 40px;
        margin-top: -35%;
    }
    .true-5g h5{
        margin-right: 34%;
        margin-top: 4%;
    }
    .welcome-offer-1{
        display: none;
    }
    .welcome-offer-2{
        height: 100vmax;
        flex-direction: column;
        width: 65vmax;
        margin-top: 10%;
    }
    .welcome-offer-2 > .welcome-offer-right{
        width: 65vmax;
        height: 60vmax;
        margin-right: 4%;
    }
    .welcome-offer-2 > .welcome-offer-left{
        height: 39vmax;
        width: 65vmax;
        margin-right: 8%;
        margin-top: 4%;
    }
    .welcome-offer-2 > .welcome-offer-left > h2{
        width: 50vmax;
        font-size: 30px;
    }
    .welcome-offer-2 > .welcome-offer-left > a{
        width: 20.3vmax;
    }
    .jio-next{
        flex-direction: column;
        margin-top: 195%;
        /* gap: 150px; */
    }
    .jio-next-main img{
        height: 340px;
    }
    .jio-next-main div{
        margin-top: -42%;
        width: 72vmax;
        height: 50vmax;
    }
    .jio-next-main > div a{
        margin-top: 4%;
        margin-left: -50%;
    }
    .jiosaavn div a , .netmeds div a{
        margin-left: -55%;
    }
    .digital-life{
        margin-top: 140%;
    }
    .digital-life h1{
        width: 65vmax;
        font-size: 40px;
        letter-spacing: -2px;
    }
    .digital-life h4{
        width: 55vmax;
        /* background-color: red; */
        font-size: 15px;
        margin-left: -14%;

    }
    .digital-life span{
        margin-left: 0.5%;
    }
    .digital-life-bottom-main-1{
        display: none;
    }
    .digital-life-bottom-main-2{
        flex-direction: column;
        background-color: #00b259;
    }
    .digital-life-bottom-left-main-2 > video{
        height: 225px;
        margin-top: 12%;
        border-radius: 20px;
    }
    .digital-life-bottom-right-main-2{
        height: 48vmax;
        width: 71.7vmax;
    }
    .digital-life-bottom-right-main-2 h3{
        width: 22.5vmax;
        margin-left: 5.5%;
    }
    .digital-life-bottom-right-main-2 h2{
        margin-left: 5.5%;
        /* background-color: red; */
        font-size: 30px;
    }
    .digital-life-bottom-right-main-2 a{
        width: 19vmax;
        margin-top: 5%;
        margin-left: 5.5%;
    }
    .jio-servi-main{
        padding: 10px 50px 10px 10px;
        width: 60vmax;
        height: 40vmax;
    }
    .jio-servi-main img{
        margin-left: 25%;
    }
    .jio-servi-main h3{
        margin-top: 20%;
    }
    .jio-servi-main h5{
        display: none;
    }
    #link{
        top: 75%;
    }
    .discover{
        align-items: flex-start;
        margin-top: 15%;
        margin-left: 5%;
    }
    .discover h1{
        font-size: 35px;
        align-items: flex-start;
    }
    .discover h5{
        width: 65vmax;
        align-items: flex-start;
        font-size: 17px;
    }
    .fiber {
        flex-direction: column;   
        margin-left: 1%;
    }
    .fiber img{
        height: 60px;
    }
    .all-fiber{
        margin-top: 10%;
    }
    .all-gole{
        margin-top: 10%;
    }
}



















